<section id="contacto" class="contacto">
  <div class="container">
    <div class="section-title" id="section-title">
      <h2>Dejanos tu consulta</h2>
      <form class="contact-form" (submit)="sendEmail($event)">
        <label>Apellido y Nombre</label>
        <input type="text" name="from_name" placeholder="Escribir Apellido y Nombre">
        <label>Email</label>
        <input type="email" name="email_id"placeholder="Escribir su email">
        <label>Mensaje</label>
        <textarea name="message" placeholder="Escribir su mensaje"></textarea>
        <button class="button" type="submit" [disabled]="enviadoExitosamente">
          {{ enviadoExitosamente ? 'Mensaje enviado' : 'Enviar' }}
        </button>

    </form>
    </div>
  </div>
</section>


  
<footer>
  <p>Juan de Garay 3236 - Santa fe Capital - Argentina</p>
  <p>(03482-685148)</p>
  <p>dimas_miskevish@hotmail.com</p>
</footer>
  