
    <section id="contacto" class="contacto">
 
        <div class="container">
      
          <div class="section-title" id="section-title">
            <h2>Contacto</h2>
    
            <form class="form" id="form" action="https://formsubmit.co/dimas_miskevish@hotmail.com" method="post" enctype="multipart/form-data">
            <label>Apellido y Nombre</label><br>
            <input id="name" name="name" type="text" placeholder="Ingrese tu Apellido y Nombre." ><br>
    
            <label>E-mail</label><br>
            <input id="email" name="email" type="email" placeholder="Ingrese tu E-mail." ><br>
            <label>Asunto</label><br>
            <input id="asunto" name="asunto" type="text" placeholder="Ingresar asunto."><br>
            <label>Descripción</label><br>
            <textarea id="descripcion" name="descripcion" type="text" placeholder="Ingrese su mensaje."></textarea><br>
            <button type="submit" name="submit" id="submit"><p>Enviar</p></button>
    
            </form>
          </div>
        </div>
       

</section>

  
  