<section id="contacto" class="contacto">
  <div class="container">
    <div class="section-title" id="section-title">
      <h2>Dejanos tu consulta</h2>
      <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <label>Apellido y Nombre</label><br>
        <input formControlName="name" type="text" placeholder="Ingrese tu Apellido y Nombre." ><br>
  
        <label>E-mail</label><br>
        <input formControlName="email" type="email" placeholder="Ingrese tu E-mail."  ><br>
  
        <label>Asunto</label><br>
        <input formControlName="asunto" type="text" placeholder="Ingresar asunto."><br>
  
        <label>Descripción</label><br>
        <textarea formControlName="descripcion" placeholder="Ingrese su mensaje."></textarea><br>
  
        <button type="submit" [disabled]="formulario.invalid"><p>Enviar</p></button>
      </form>
    </div>
  </div>
</section>


  
<footer>
  <p>Juan de Garay 3236 - Santa fe Capital - Argentina</p>
  <p>(03482-685148)</p>
  <p>dimas_miskevish@hotmail.com</p>
</footer>
  