<section id="nosotros" class="nosotros"> 
  <h2 class="titulo-llamativo">Bienvenidos a OXYGEN GYM</h2>
  <br>
  <div class="artboard">
    <div class="card">
   
     <div class="card__side card__side--back">
      <div class="card__cover">
       <h4 class="card__heading">
        <span class="card__heading-span">Nuestra Misión</span>
       </h4>
      </div>
      <div class="card__details">
       <ul>
        <li>Nuestra misión es proporcionar un ambiente acogedor y motivador donde personas de todas las edades y niveles de condición física puedan mejorar su salud y alcanzar sus objetivos personales. Creemos que el ejercicio es una parte fundamental de una vida saludable y queremos hacerlo accesible para todos.</li>
        
       </ul>
      </div>
     </div>
   
     <div class="card__side card__side--front">
      <div class="card__theme">
       <div class= "card__theme-box">
        <p class="card__subject">¿Cuál es nuestra misión?</p>
       </div>
      </div>
     </div>
   
    </div>

   <div class="card">
   
    <div class="card__side card__side--back">
     <div class="card__cover2">
      <h4 class="card__heading">
       <span class="card__heading-span">Nuestros Valores</span>
      </h4>
     </div>
     <div class="card__details">
      <ul>
       <li>Nuestros valores están arraigados en la integridad, la dedicación y el respeto. Nos esforzamos por ser un lugar donde te sientas bienvenido y apoyado en cada paso de tu viaje hacia la salud y el bienestar.</li>
       
      </ul>
     </div>
    </div>
  
    <div class="card__side card__side--front2">
     <div class="card__theme">
      <div class="card__theme-box">
       <p class="card__subject">¿Cuáles son nuestros valores?</p>
      </div>
     </div>
    </div>
  
   </div>

   <div class="card">
   
    <div class="card__side card__side--back">
     <div class="card__cover3">
      <h4 class="card__heading">
       <span class="card__heading-span">Nuestro Equipo </span>
      </h4>
     </div>
     <div class="card__details">
      <ul>
       <li>Nuestro equipo de entrenadores altamente calificados está aquí para guiarte y motivarte. Todos ellos comparten la misma pasión por el acondicionamiento físico y están comprometidos con tu éxito. Con experiencia en una variedad de disciplinas, te brindarán el apoyo que necesitas para alcanzar tus objetivos.</li>
       
      </ul>
     </div>
    </div>
  
    <div class="card__side card__side--front3">
     <div class="card__theme">
      <div class= "card__theme-box">
       <p class="card__subject">¿Por quiénes estamos conformados?</p>
      </div>
     </div>
    </div>
  
   </div>

   <div class="card">
   
    <div class="card__side card__side--back">
     <div class="card__cover4">
      <h4 class="card__heading">
       <span class="card__heading-span">Nuestras Instalaciones </span>
      </h4>
     </div>
     <div class="card__details">
      <ul>
       <li>Nuestras instalaciones son de primera clase. Ofrecemos una amplia gama de equipos modernos y espacios para entrenamiento funcional. Nuestras instalaciones están diseñadas para satisfacer tus necesidades y proporcionar un ambiente propicio para el ejercicio.</li>
       
      </ul>
     </div>
    </div>
  
    <div class="card__side card__side--front4">
     <div class="card__theme">
      <div class= "card__theme-box">
       <p class="card__subject">Instalaciones</p>
      </div>
     </div>
    </div>
  
   </div>

   <div class="card">
   
    <div class="card__side card__side--back">
     <div class="card__cover5">
      <h4 class="card__heading">
       <span class="card__heading-span">Nuestros Programas y Servicios</span>
      </h4>
     </div>
     <div class="card__details">
      <ul>
       <li>Nuestros programas y servicios incluyen una variedad de clases grupales, entrenamiento personalizado, asesoramiento nutricional y más. Estamos aquí para ayudarte a diseñar un programa que se adapte a tu estilo de vida y objetivos individuales.</li>
       
      </ul>
     </div>
    </div>
  
    <div class="card__side card__side--front5">
     <div class="card__theme">
      <div class= "card__theme-box">
       <p class="card__subject">¿Cuáles son nuestros programas y servicios?</p>
      </div>
     </div>
    </div>
  
   </div>

   <div class="card">
   
    <div class="card__side card__side--back">
     <div class="card__cover6">
      <h4 class="card__heading">
       <span class="card__heading-span">Comunidad y Compromiso</span>
      </h4>
     </div>
     <div class="card__details">
      <ul>
       <li>En Nuestro Gimnasio, no solo encontrarás un lugar para entrenar, sino también una comunidad de personas que comparten tus metas. Organizamos eventos, desafíos y actividades sociales para que te conectes con otros miembros y mantengas la motivación. Además, estamos comprometidos con la comunidad y participamos activamente en proyectos benéficos y actividades comunitarias para devolver a la sociedad que nos ha apoyado a lo largo de los años.</li>
       
      </ul>
     </div>
    </div>
  
    <div class="card__side card__side--front6">
     <div class="card__theme">
      <div class= "card__theme-box">
       <p class="card__subject">¿Cuáles son nuestros compromisos?</p>
      </div>
     </div>
    </div>
  
   </div>
  </div>
</section>



















