.nosotros{
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  letter-spacing: 0.03px;
  line-height: 1.6;
  color: white;
  text-align: center;
  background-color: black;
    }

   .nosotros .titulo-llamativo {
      font-size: 36px; /* Tamaño de fuente grande */
      font-weight: bold; /* Texto en negrita */
      text-align: center; /* Centra horizontalmente el texto */
      text-transform: uppercase; /* Convierte el texto en mayúsculas */
      color: #eecf09; /* Color de texto llamativo */
      text-shadow: 4px 4px 6px rgba(215, 202, 16, 0.5); /* Sombra de texto */
      letter-spacing: 2px; /* Espaciado entre letras */
      margin-bottom: 20px; /* Espacio inferior para separarlo de otros elementos */
      padding-top: 130px;
    }
    .container .card h3{
      
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra de texto */
    margin-bottom: 10px; /* Espacio inferior para separarlo de otros elementos */
    padding: 15px;
    color: #000000; /* Color del título */

  }
  .container .card p{
    justify-content: center;
    color: white;
  }
.container {
  
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap; /* Permite que las tarjetas se coloquen una debajo de la otra en pantallas más pequeñas */
  justify-content: space-between;
  margin: auto;
}

.container .card {
  width: calc(33.33% - 20px);
  height: 430px;
  border-radius: 8px;
  box-shadow: 0 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-align: center;
  transition: all 0.25s;
  margin-bottom: 20px;
}

/* Estilos para las tarjetas impares */
.container .card:nth-child(odd) {
  background: linear-gradient(135deg, #242c45, #4caf50,#242c45); /* Fondo con degradado */
  color: white; /* Texto blanco */
  font-size: 18px; /* Ajusta el tamaño de la fuente según tus preferencias */
  font-weight: bold; /* Haz que la fuente sea más negrita si es necesario */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4); 
}

/* Estilos para las tarjetas pares */
.container .card:nth-child(even) {
  background: linear-gradient(135deg, #2f2e2e, #cccf2e 20%, #414040); /* Fondo con degradado */
  color: white; /* Texto blanco */
  font-size: 18px; /* Ajusta el tamaño de la fuente según tus preferencias */
  font-weight: bold; /* Haz que la fuente sea más negrita si es necesario */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4); /* Agrega una sombra de texto */
}

.container .card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

/* Agrega una media query para ajustar el diseño en pantallas más pequeñas */
@media screen and (max-width: 768px) {
  .container .card {
    width: 100%; /* Las tarjetas ocuparán todo el ancho en pantallas pequeñas */
    margin-bottom: 20px; /* Espacio entre las tarjetas en pantallas pequeñas */
  }
}
