.nosotros {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  letter-spacing: 0.03px;
  line-height: 1.6;
  color: white;
  text-align: center;
  background: radial-gradient(circle, rgb(32, 32, 53) 60%, rgb(0, 0, 0) 100%);
}

.nosotros .titulo-llamativo {
 
  letter-spacing: 2px;
  margin-bottom: 20px;
  padding-top: 130px;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    font-size: 2rem;
    margin: 0 auto;
    font-family: "Courier New";
    border-right: 0.15em solid #18bdec;
    animation: typing 15s steps(38) s 1 normal both, blink 1s steps(1) infinite;
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }

/* Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

.artboard {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}


.card {
  width: calc(33.33% - 20px);
  height: 28rem;
  border-radius: 8px;
  box-shadow: 0 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-align: center;
  transition: all 0.25s;
  margin-bottom: 20px;
  border: #000000;
  background: radial-gradient(circle, rgb(32, 32, 53) 60%, rgb(0, 0, 0) 100%);
}

@media (max-width: 1100px) {
  .card {
    width: calc(50% - 20px);
  }
}

/* Regla de medios para 1 columna en pantallas pequeñas */
@media (max-width: 480px) {
  .card {
    width: 100%;
  }
}







.card__side {
  height: 52rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.15);
}

.card__side--front {
  background-image: linear-gradient(to right bottom, rgba(30, 11, 54, 0.65), rgba(202, 55, 130, 0.7)), url(../../assets/nostros/gym.jpg);
  background-repeat: no-repeat; /* Evita la repetición de la imagen de fondo */
}

.card__side--back {
  background-color: #fff;
  transform: rotateY(180deg);
  
}

.card:hover .card__side--back {
  transform: rotateY(0);
}

.card:hover .card__side--front {
  transform: rotateY(-180deg);
}

.card__theme {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 54%;
  width: 90%;
  text-align: center;
}

.card__theme-box {
  color: #fff;
  margin-bottom: 30rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.card__subject {
  font-family: "Inconsolata", monospace;
  font-size: 1.6rem;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.card__cover {
  position: relative;
  background-size: cover;
  height: 8rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-image: linear-gradient(to right bottom, rgba(30, 11, 54, 0.65), rgba(189, 203, 64, 0.7)), url(../../assets/nostros/gym.jpg);
}

.card__heading {
  text-align: center;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
}

.card__heading-span {
  text-align: center;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
}

.card__details {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 2rem 1rem;
  margin-bottom: 1.5rem;
  height: auto;
}

.card__details ul {
  list-style: none;
  /* Puedes ajustar el ancho según tus necesidades o quitarlo */
  /* width: 80%; */
  margin: 0 auto;
}

.card__details ul li {
  text-align: left;
  font-size: 15px;
  color: black;
  /* Añadir desbordamiento y/o evitar retorno de línea según sea necesario */
  /* overflow: auto; */
  /* white-space: nowrap; */
}


.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}

@media only screen and (max-width: 50em), only screen and (hover: none)  {
  .artboard {
    flex-direction: column; /* Cambiamos la dirección de flex a columna */
    align-items: center; /* Centramos los elementos horizontalmente */
  }



  .card__side {
    height: auto;
    position: relative;
    box-shadow: none;
  }
  .card__side--front {
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
  }
  .card__side--back {
    transform: rotateY(0);
   
  }
  .card:hover .card__side--front {
    transform: rotateY(0);
  }
  .card__details {
    padding: 3rem 2rem;
  }
  .card__theme {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0);
    width: 100%;
    padding: 5rem 4rem 1.5rem 4rem;
    text-align: right;
  }
  .card__theme-box {
    margin-bottom: 1.5rem;
  }
  .card__title {
    font-size: 4rem;
  }
  .card__side--front{
    display: none;
  }
}
