
<section id="nosotros" class="nosotros"> 

    <h2 class="titulo-llamativo" id="maquina-de-escribir">Bienvenidos a OXYGEN GYM</h2>
<br>
   <div class="container">
    <div class="card">
    <h3>Nuestra Misión</h3>
    <br>
    <p>Nuestra misión es proporcionar un ambiente acogedor y motivador donde personas de todas las edades y niveles de condición física puedan mejorar su salud y alcanzar sus objetivos personales. Creemos que el ejercicio es una parte fundamental de una vida saludable y queremos hacerlo accesible para todos.</p>
  </div>

  <div class="card">
    <h3>Nuestros Valores</h3>
    <br>
    <p>Nuestros valores están arraigados en la integridad, la dedicación y el respeto. Nos esforzamos por ser un lugar donde te sientas bienvenido y apoyado en cada paso de tu viaje hacia la salud y el bienestar.</p>
  </div>

  <div class="card">
    <h3>Nuestro Equipo</h3><br>
    <p>Nuestro equipo de entrenadores altamente calificados está aquí para guiarte y motivarte. Todos ellos comparten la misma pasión por el acondicionamiento físico y están comprometidos con tu éxito. Con experiencia en una variedad de disciplinas, te brindarán el apoyo que necesitas para alcanzar tus objetivos.</p>
  </div>
  
  <div class="card">
    <h3>Nuestras Instalaciones</h3><br>
  
    <p>Nuestras instalaciones son de primera clase. Ofrecemos una amplia gama de equipos modernos y espacios para entrenamiento funcional. Nuestras instalaciones están diseñadas para satisfacer tus necesidades y proporcionar un ambiente propicio para el ejercicio.</p>
  </div>
  <div class="card">
    <h3>Nuestros Programas y Servicios</h3><br>
    
    <p>Nuestros programas y servicios incluyen una variedad de clases grupales, entrenamiento personalizado, asesoramiento nutricional y más. Estamos aquí para ayudarte a diseñar un programa que se adapte a tu estilo de vida y objetivos individuales.</p>
  </div>
  <div class="card">
    <h3>Comunidad y Compromiso</h3><br>
    
    <p>En Nuestro Gimnasio, no solo encontrarás un lugar para entrenar, sino también una comunidad de personas que comparten tus metas. Organizamos eventos, desafíos y actividades sociales para que te conectes con otros miembros y mantengas la motivación. Además, estamos comprometidos con la comunidad y participamos activamente en proyectos benéficos y actividades comunitarias para devolver a la sociedad que nos ha apoyado a lo largo de los años.</p>
    
  </div> 
  </div>

</section>