.close-button {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    background: transparent;
    border-radius: 10px;
    z-index: 2; /* Asegura que esté por encima del fondo semitransparente */
  }
  
  .login {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(72, 69, 69, 0.7); /* Fondo gris traslúcido */
    z-index: 1;
    display: flex; /* Centra el contenido verticalmente */
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center;
    /* Otros estilos para el formulario */
  }
  
  /* Estilos para el formulario dentro de .login */
  .login form {
    background: rgba(255, 255, 255, 0.9); /* Fondo blanco semitransparente */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
    backdrop-filter: blur(5px); /* Efecto de desenfoque en el fondo */
  }
  
  .login form .form-group input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.7); /* Fondo de campo de entrada semitransparente */
  }
  
  .login form .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: rgb(142, 14, 14);
    background: transparent;
    border: none;
    z-index: 2;
  }
  
  
  /* Estilos para los campos de entrada dentro del formulario */
  .login form .form-group input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    /* Otros estilos según tus necesidades */
  }
  
  /* Estilos para el botón de cierre dentro del formulario */
  .login form .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: rgb(142, 14, 14);
    background: transparent;
    border: none;
    z-index: 2;
  }
  
  /* Estilos para el botón de registro */
.login form .register-button {
    background: #007BFF; /* Color de fondo para el botón */
    color: white; /* Color del texto del botón */
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    
}

/* Estilos para el botón de cierre dentro del formulario */
.login form .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: rgb(142, 14, 14);
    background: transparent;
    border: none;
    z-index: 2;
}


.registro-exitoso {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}
