#horarios {
  background-color: rgb(18, 17, 17); /* Color de fondo */
  border-top: 2px solid white; /* Borde blanco en la parte superior */
  border-bottom: 2px solid rgb(12, 12, 12); /* Borde blanco en la parte inferior */
  padding: 10px; /* Añade un espacio de relleno alrededor de la imagen */
  max-width: 1300px; /* Establece el ancho máximo del contenedor */
  margin: 0 auto; /* Centra el contenedor en la página */

}

#horarios img {
  width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
  height: auto; /* Permite que la altura se ajuste proporcionalmente */
}

.horarios {
  background-color: #000000;
}