/* Estilos para la sección Entrenamientos */
#nosotros {
  background-color: rgb(15, 14, 14); /* Fondo negro */
  color: white; /* Texto en color blanco para contrastar */
  padding: 250px; /* Espaciado interno */

  /* Estilos para pantallas más pequeñas */
  @media (max-width: 768px) {
    padding: 150px;
  }

  /* Estilos para pantallas aún más pequeñas */
  @media (max-width: 576px) {
    padding: 100px;
  }
}

#nosotros h2 {
  background-color: rgb(15, 14, 14); /* Fondo negro */
  color: rgb(143, 135, 135); /* Texto en color blanco para contrastar */
  font-size: 40px;
  margin-top: auto;

  /* Estilos para pantallas más pequeñas */
  @media (max-width: 768px) {
    font-size: 30px;
  }

  /* Estilos para pantallas aún más pequeñas */
  @media (max-width: 576px) {
    font-size: 24px;
  }
}
#horarios-content {
  background-color: rgba(0, 0, 0, 0.6); /* Fondo negro semitransparente para el contenido */
  padding: 20px; /* Espaciado interno para el contenido */
  border-radius: 10px; /* Bordes redondeados para el contenido */
  position: absolute;
  bottom: 20px;
  left: 20px;
}



  #horarios {
    position: relative;
    color: white; /* Texto en color blanco para contrastar */
  
  
  }
  
  #horarios img {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    display: block; /* Evita espacio debajo de la imagen */
  }
  

  