
.turnos-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(72, 69, 69, 0.7); /* Fondo gris traslúcido */
  z-index: 1;
  display: flex;
  flex-direction: column; /* Alinear los elementos verticalmente */
  justify-content: center; /* Centrar el contenido horizontalmente */
  align-items: center;
  text-align: center; /* Alineación del texto al centro */
  padding: 20px; /* Espacio interior */
}
.mensaje-exito {
  color: green;
  margin-top: 10px;
}

.turnos-container h2 {
  color: white;
  font-size: 24px; /* Tamaño del encabezado */
  margin-bottom: 20px; /* Espacio inferior */
}

form {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: left;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

select, input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

button[type="submit"] {
  background: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
  
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: white;
  background: transparent;
  border-radius: 10px;
  z-index: 2; /* Asegura que esté por encima del fondo semitransparente */
}

/*eliminar turnos */

/* Estilos para la sección "Mostrar Mis Turnos" */
/* Estilos para la sección "Mostrar Mis Turnos" */
div[ngIf="mostrarMisTurnos"] {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f4f4f4;
  max-height: 300px;
  overflow-y: auto;
  width: 80%; /* Ajusta el ancho según sea necesario */
  margin-left: auto;
  margin-right: auto;
}


h2 {
  color: #333; /* Cambia el color del título */
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
  background-color: #f7f7f7; /* Añade un fondo blanco a cada elemento de la lista */
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Añade una sombra suave */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120%; /* Ajusta el ancho según sea necesario */

}
.mis-turnos-container {
  margin-top: 20px;
  padding: 5px;
  border: 1px solid #ccc;
  background-color: #f4f4f4;
  max-height: 100%;
  overflow-y: auto;
  width: auto; /* Cambiado a auto para que el ancho se ajuste al contenido */
  margin-left: auto;
  margin-right: auto;
}
.mis-turnos-container h2{
  color: black;
}

.mis-turnos-container .turno-info {
  flex-grow: 1; /* El contenido ocupa todo el espacio disponible */
}

.mis-turnos-container .turno-buttons {
  display:flex;
  align-items: center;
  
}

.mis-turnos-container li {
  margin-bottom: 10px;
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px; /* Establece el ancho máximo deseado */
  width: 100%; /* Garantiza que ocupe el 100% del contenedor padre */
  margin-left: auto;
  margin-right: auto;
}

.mis-turnos-container li button {
  margin-left: 40px;
  background-color: #007bff;
  color: #fff;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
}

.mis-turnos-container li button:hover {
  background-color: #0056b3;
}

.mis-turnos-container li button.eliminar {
  margin-left: 10px;
  background-color: #ff0000; /* Color rojo */
  color: #fff;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
}

.mis-turnos-container li button.eliminar:hover {
  background-color: #cc0000; /* Cambia el color al pasar el mouse */
}




button {
  background-color: #007bff;
  color: #fff;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3;
}

/* Estilos para el botón de Regresar */
button.regresar {
  background-color: #6c757d;
}

/* Estilos para el formulario de modificación */
form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #333;
}

select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

/* Añade estilos adicionales según sea necesario */
.turnos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boton-container {
  display: flex;
  gap: 10px;
}

.accion-button {
  background-color: #007bff;
  color: #fff;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
}

.accion-button:hover {
  background-color: #0056b3;
}


.modificacion-container,
.sacar-turnos-container {
  width: 80%; /* Ajusta el ancho según sea necesario */
  margin-top: 20px;
}
.formulario-containermod,
.formulario-container{
  width: 50%; /* Ajusta el ancho según sea necesario */
  margin-top: 20px;
}



/* Agrega estos estilos a tu hoja de estilos CSS */
.mensaje-exito {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  background-color: white;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
}

.modal-container p {
  margin-bottom: 10px;
}

.modal-container button {
  padding: 8px 16px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

