<div class="turnos-container">
  <!-- Botones para seleccionar acción -->

  <div *ngIf="mostrarBotones" class="boton-container">
    <button (click)="sacarTurnos()">Reservar Turnos</button>
    <button (click)="MisTurnos()">Mis Turnos</button>
    <button (click)="cerrarSesion()">Cerrar Turnos</button>

  </div>

  <!-- Contenido para "Sacar Turnos" -->
  <div *ngIf="mostrarSacarTurnos" class="formulario-container">

    <form (ngSubmit)="reservarTurno()" #turnoForm="ngForm" (submit)="sendEmail($event)">
      <h2 style="color: rgb(0, 0, 0);text-align: center;">Reservar Turno </h2>

      <div class="form-group">
        <label for="deporte">Entrenamiento:</label>
        <select name="deporte" id="deporte" name="deporte" [(ngModel)]="nombreDep" required>
          <option value="" disabled>Selecciona una fecha</option>
          <option *ngFor="let deporte of deportes" [value]="deporte.nombreDep">{{ deporte.nombreDep }}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="dia">Fecha:</label>
        <select name="dia" id="dia" name="dia" [(ngModel)]="dia" required>
          <option value="" disabled>Selecciona una fecha</option>
          <option *ngFor="let deporte of deportes" [value]="deporte.dia">{{ deporte.dia }}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="hora">Hora:</label>
        <select name="hora" id="hora" name="hora" [(ngModel)]="hora" required>
          <option value="" disabled>Selecciona una hora</option>
          <option *ngFor="let deporte of deportes" [value]="deporte.hora">{{ deporte.hora }}</option>
        </select>
      </div>

      <div class="button-container">
        <button type="submit">Agregar Turno</button>
        <button (click)="cerrarSesion()">Cerrar Turnos</button>
      </div>
      <!-- Agrega esta sección al final de tu componente HTML -->
      <div *ngIf="mostrarMensaje" class="mensaje-exito">
        <div class="modal-container">
          <p>Turno agregado con éxito</p>
          <button (click)="cerrarMensaje()">OK</button>
        </div>
      </div>

      <button (click)="regresar()">Regresar</button>

    </form>
  </div>

  <!-- Contenido para "Mostrar Mis Turnos" -->
  <div *ngIf="mostrarMisTurnos" class="mis-turnos-container">
    <h2>Mis Turnos:</h2>
    <ul>
      <li *ngFor="let turno of turnos" style="color: rgb(0, 0, 0);">
        {{ turno.nombreDep }} - {{ turno.dia }} - {{ turno.hora }}
        <div class="turno-buttons">
          <button *ngIf="turno.idAsignado !== undefined && turno.idAsignado !== null"
            (click)="modificarTurno(turno.idAsignado)">Modificar</button>

          <button class="eliminar" *ngIf="turno.idAsignado !== undefined && turno.idAsignado !== null"
            (click)="eliminarTurno(turno.idAsignado)">Eliminar</button>
        </div>
      </li>
    </ul>
    <button (click)="regresar()">Regresar</button>
  </div>

  <!-- Sección para la modificación del turno -->
  <div *ngIf="modoModificacion && turnoSeleccionado !== null" class="formulario-containermod">
    <form (ngSubmit)="modificarTurnoExistente()" #turnoForm="ngForm">
      <h2 style="color: rgb(0, 0, 0);text-align: center;">Modificar Turno </h2>
      <div class="form-group">
        <label for="deporte">Entrenamiento:</label>
        <select id="deporte" name="deporte" [(ngModel)]="turnoSeleccionado.nombreDep" required>
          <option value="" disabled>Selecciona un deporte</option>
          <option *ngFor="let deporte of deportes" [value]="deporte.nombreDep">{{ deporte.nombreDep }}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="dia">Fecha:</label>
        <select id="dia" name="dia" [(ngModel)]="turnoSeleccionado.dia" required>
          <option value="" disabled>Selecciona una fecha</option>
          <option *ngFor="let deporte of deportes" [value]="deporte.dia">{{ deporte.dia }}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="hora">Hora:</label>
        <select id="hora" name="hora" [(ngModel)]="turnoSeleccionado.hora" required>
          <option value="" disabled>Selecciona una hora</option>
          <option *ngFor="let deporte of deportes" [value]="deporte.hora">{{ deporte.hora }}</option>
        </select>
      </div>

      <div class="button-container">
        <button type="submit">Guardar Cambios</button>
        <button (click)="cerrarSesion()">Cerrar Turnos</button>
      </div>
      <!-- En algún lugar de tu template HTML -->

      <!-- Agrega esta sección en tu plantilla (HTML) -->
      <div *ngIf="mostrarMensajeExito" class="mensaje-exito">
        <div class="modal-container">

          {{ mensajeExito }}
          <button (click)="cerrarMensaje()">OK</button>
        </div>
      </div>


      <button (click)="regresar()">Regresar</button>
    </form>
  </div>

  <!-- Contenido para "Sacar Turnos" -->
  <div *ngIf="mostrarSacarTurnos">
    <!-- Agrega aquí el contenido del formulario de sacar turnos -->
  </div>
  </div>